body{
    overflow:none;
      font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    background-color:  rgb(240, 242, 245);
    line-height: 1.75;
}
a:link{

    text-decoration: none;
    -webkit-transition:  2s ease-out;
  -moz-transition:   2s ease-out;
  -o-transition: 2s ease-out;
  transition:   2s ease-out;
}

a:hover{
    text-decoration: none;
    color: white;
}


.loader{
  background-color: black; 
  height: 100vh;
  width: 100%;
  overflow:none;
  overflow-y: none;
  overflow-x:none;
  text-align: center;  
  display: inline-block;
  vertical-align: center;
}
.loader p{
  position: absolute;
  top: 50%;
  left: 40%; 
  z-index: 99;
}
 
svg path,
svg rect{
  fill: #FF6700;
}


.notifications{
    position:fixed;
    z-index:1; 
    top:30px;
    width: auto;
    right:0px;
    background-color:#f1f1f1;
  }
 

.bannerheader{
  height: 100vh;
  background-color:  rgb(240, 242, 245);
}

.bannerheader h1{
  position:relative;
  top: 20%;
  bottom:50%;
  letter-spacing: 4px;
  font-size:80px;

}

.mySlides {display: none;}

    .bestlink a{
      background:#FF6700;
      padding:10px;
      color:white;
      margin-right:20px;
      border-radius:25px;
    }
    .bestlink .more{
      background:none;
      padding:10px;
      color:#FF6700;
      margin-right:20px;
      border-radius:25px;
    }

@media screen and (min-width: 431){

   .bestlink{
    display: block;
  }
}


@media screen and (max-width: 430){
    .bestlink{
    display: none;
  }
}

.bounce-top {
  -webkit-animation: bounce-top 0.9s both;
          animation: bounce-top 0.9s both;
}



@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}


.scale-up-tr {
  -webkit-animation: scale-up-tr 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: scale-up-tr 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
 
@-webkit-keyframes scale-up-tr {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
@keyframes scale-up-tr {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}


.scale-in-right {
  -webkit-animation: scale-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: scale-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 
@-webkit-keyframes scale-in-right {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    opacity: 1;
  }
}
@keyframes scale-in-right {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    opacity: 1;
  }
}





.tracking-in-expand-fwd {
  -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
 

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}











@media screen and (max-width: 1162px){
.bannerheader h1{
    position:relative;
  top: 20%;
  bottom:50%;
  font-size:50px;
  }
}

@media screen and (min-width: 990px){
.bannerheader h1{
    position:relative;
  top: 20%;
  bottom:50%;
  font-size:70px;
  }
}

@media screen and (max-width: 996px){
.bannerheader h1{
    position:relative;
  top: 20%;
  bottom:50%;
  font-size:60px;
  }
}


@media screen and (max-width: 500px){
.bannerheader h1{
    position:relative;
  top: 20%;
  bottom:50%;
  font-size:40px;
  }
}

@media screen and (min-width: 990px){
.weathertop{
  display:none;
  }
}
@media screen and (max-width: 990px){
.weatherbottom{
  display:none;
  }
}

.weather-icon {
    vertical-align: middle;
    margin-right: 20px;
}

.weather-forecast {
    color: #212121;
    font-size: 1.2em;
    font-weight: normal;
    margin: 20px 0px;
}

span.min-temperature {
    margin-left: 15px;
    color: #929292;
}



.navbar-light .navbar-brand {
  font-size: 25px;
  color: #e74c3c;
  font-weight: bold;
  letter-spacing: 7px;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #e74c3c;
    color: #e74c3c; 
  border-bottom:2px solid #e74c3c;
  
}

.navbar-light .navbar-nav .nav-link {
  color: #00;
  font-size:20px;
  letter-spacing: 4px;
   transition: display 0.5s  ease-in-out;
}

.navbar-toggler {
  background: #fff;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  padding: .2rem 1rem;
}

.nav-link.active,.nav-link:focus{
  color: #e74c3c;;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #e74c3c;
}
.myBtnbot{
    display: none;
  position: fixed;
  bottom: 20px;
  left: 30px;
  z-index: 99;
  font-size: 13px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  border-radius: 200px/20px  ;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 13px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  border-radius: 200px/20px  ;
}

#myBtn:hover {
  background-color: rgba(16, 14, 23, 0.93);
  color: white;
  transition: max-height 0.2s ease-out;
}


.rower{
    position: absolute;
      top: 40%;
      left: 50%;
        color:white;
        width:100%;
      transform: translate(-50%, -50%);
     font-family: Poppins;
    visibility: visible;
    line-height: 65px;
    letter-spacing: 0px;
    font-weight: 800;
    font-size: 58px;
}

.rower hr{
    border: 2px solid white;
    float: right;
    width: 100px;
    bottom: 20px;
}


.shortcutlinks a{

    background:#e74c3c;;
    padding:10px;
    -webkit-transition:  2s ease-out;
  -moz-transition:   2s ease-out;
  -o-transition: 2s ease-out;
  transition:   2s ease-out;
    border-radius:25px;
    color:white;
}
.shortcutlinks a:hover{
    background:none;
    padding:10px;
    border: 1px solid #e74c3c;;
    border-radius:25px;
    color:white;
}

.shortcutlinks .why:hover{

    background: #e74c3c;
    padding:10px;
    border-radius:25px;
    color:white;
}

.shortcutlinks .why{
    background:none;
    padding:10px;
    border: 1px solid  #e74c3c;
    border-radius:25px;
    color:white;
}

p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
}

b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
}

span1 {
  display: inline-block;
  color: #e74c3c;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  animation: move 10s;
  animation-iteration-count: infinite;
animation-delay: 1s;
}

@keyframes move {
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -50px; }
}


.arrow {
  border: solid #e74c3c;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 10px;
  overflow: hidden;
  position: relative;
  height: 10px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  animation: top 1s;
  animation-iteration-count: infinite;
animation-delay: 1s;
}


@keyframes top {
0%  { top: 0px; }
20% { top: -20px; }
100% { top: -10px; }
}

.bannerservice {
  background-color:  rgb(240, 242, 245);
    font-family: "Poppins";

}

 .bannerservicecontainer{  
  font-size:20px;
  color: rgb(16, 14, 23);
   }
 .bannerservicecontainer i{  
  font-size:20px;
  color: rgb(16, 14, 23);
   }
 .bannerservicecontainer p{ 
  font-size:20px;
  color: rgb(16, 14, 23);
   }

 

@media screen and (max-width: 310px){
.bannerservicecontainer h3{
 font-size:20px;
  }
}
@media screen and (max-width: 310px){
.bannerservicecontainer p{
 font-size:14px;
  }
}
 

.bannerservicecontainer h3{
    color:#e74c3c;
}

.bannerservicecontainer i{
    color: #f1f1f1;
    font-size: 40px;
}

 
.startudy{
  background-color:#e74c3c;
  border-radius: 25px;
  padding:10px;
  color: white; 
}
.icontop{
     border:1px solid rgb(16, 14, 23);
  padding:27px;
  height:100px;
  background: rgb(16, 14, 23);
  width:100px;
  border-radius:50%;
  -webkit-transition:  1s ease-out;
  -moz-transition:   1s ease-out;
  -o-transition: 1s ease-out;
  transition:   1s ease-out;
}
 
.bannerservicecontainer .icon{
  -webkit-transition:  1s ease-out;
  -moz-transition:   1s ease-out;
  -o-transition: 1s ease-out;
  transition:   1s ease-out;
  position:absolute;
  top:0px;
  right:0px;
  border:1px solid rgb(16, 14, 23);
  padding:27px;
  height:100px;
  background:  rgb(16, 14, 23);
  width:100px;
  border-radius:50%;

}

 
@media screen and (min-width: 1000px){
.bannerservicecontainer .icontop{
display: none;
  }
}

@media screen and (min-width: 990px){
.bannerservicecontainer .icontop{
display: none;
  }
}


@media screen and (max-width: 1000px){
.bannerservicecontainer .icon{
display: none;
  }
}

@media screen and (max-width: 990px){
.bannerservicecontainer .icon{
display: none;
  }
}

.bannerservicefounder { 
    background: rgba(16, 14, 23, 1);
    }


.bannerservicefounder .headerofcreator{
      font-family: Poppins;
    visibility: visible;
    line-height: 65px;
    letter-spacing: 0px;
    color: #f1f1f1;
   }


.headerofcreator:hover .bodyofcreator {
  visibility: visible;
  opacity: 1;
-webkit-transition:  1s ease-out;
  -moz-transition:   1s ease-out;
  -o-transition: 1s ease-out;
  transition:   1s ease-out;
}

.bannerservicefounder .bodyofcreator{
    font-family: Poppins; 
    visibility: visible;
    letter-spacing: 2px;
    font-size: 20px;
    color: #f1f1f1;
}

.bannerservicefounder span{
     background:  #e74c3c;
}
.bannerservicefounder img{
  border:1px solid black;
  border-color: black;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bannerservicefounderimage{
    background: #f1f1f1;
    border-radius: 30px/10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img__description {
  position: absolute;
  top:0px;
  bottom:0px;
   border-radius: 30px/10px;
  text-align: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  left: 0;
  right: 0;
  padding: 10px;
  font-size: 20px; 
   background-color:rgba(231, 76, 60, .6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
-webkit-transition:  1s ease-out;
  -moz-transition:   1s ease-out;
  -o-transition: 1s ease-out;
  transition:   1s ease-out;
}

.connectsocial{ 
  color:#e74c3c;
  font-family:popins,Arial,sans-serif;
  font-size:30px;
  margin-bottom:50px;
}
.connectsocial span{ 
  color:#e74c3c;
  font-size:40px;
background-color: white;
}

.sociallinks{
   background:  #e74c3c;
    color: white;
    border-radius: 30px/10px;
    width: 50px;
    padding: 10px;
    height: 50px;
}
.img__img{
  border-radius: 30px/10px; 
}
 

.contactsection, .footersection{

   font-family: Poppins;
   color: rgb(16, 14, 23);

}

.contactsection hr{
    border: 2px solid  #e74c3c;
    float: left;
    width: 100px;
    bottom: 20px;
}


.sendmessage{
background:#e74c3c;
}

.footersection{
    background: rgb(16, 14, 23);
     font-family: "Poppins", Arial, sans-serif;

}

.footersection h4{
    font-family: "Poppins", Arial, sans-serif;
    font-size: 20px;
    font-weight: ;
    color: #f1f1f1;
    line-height: 1.75;
}

.footersection .footerappname{
    color:#ffff;
    font-size: 25px;
    background:  #e74c3c;
}

.footersection hr{
    border: 2px solid  #e74c3c;
    float: left;
    width: 100px;
    bottom: 20px;
}

.footersection ul li a{
 font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
    font-weight: ;
    color: #f1f1f1;
    line-height: 1.75;
}
.footercopyright{
    background: rgb(16, 14, 23);
}
