 <div class="col-lg-12 bannerheader" >
        <div class="row"  style="background-image: url('images/slide01.jpg');">
            <div class="gardientoverflow  pl-5 pt-5 pr-5">
            <div class="col-lg-12">
                <div class="firstbanner inner text-white font-weight-bold float-right">
                    <i class="fa fa-bars"></i> menu
                </div>
                <div class="inner">
                    <h3 class="text-white">{{ config('app.name') }}</h3>
                </div>
            </div>
            <div class="col-lg-12 rower p-5 mt-5">
                <div class="secondbanner text-white">
                    <p>
                        We are in the business of building capabilities for our clients.
                       
                    </p> 
                     <hr>
                </div>
            </div>

            <div class="col-lg-12 rower pt-5 mt-3">
                <div class="thirdbanner  text-white">

                    <p class="pl-5">We</p>
                    <b class="pl-2">
                    <span1>
                        DEVELOP<br /> 
                        CREATE<br />
                        DESIGN<br />
                    </span1>
                    </b>
                    <p class="pl-2">Websites</p>
                </div>
            </div>

            <div class="col-lg-12 shortcutlinks mt-5">
                <div class="row text-white">
                    <div class="col-lg-6 mt-3 text-center">
                        <a href="tel:+250-780-809-031" class=" ">Contact Us</a>
                    </div>
                    <div class="col-lg-6 mt-3  text-center">
                        <a href="#" class="why">Why Us</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 rower mt-5">
                <a href="">
                    <i class="arrow down">
                    </i>
                </a>
            </div>
        </div>
        </div>
    </div>










    transition: display 0.5s  ease-in-out;
    transition: ease all 0.3s;

     transition: ease-in-out 0.2s;

       transition: 0.2s;


  transition: all 0.3s;


  transition: ease-in-out 0.3s;




